<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>dashboard for user</h1>

      <%= link_to "rent out cars!", dashboard_owner_path(@user), class: "btn btn-primary btn-lg" %>


      <h2>all your requests</h2>
      <% @requests.each do |request|%>
      <div class="card-product">
        <%= cl_image_tag request.car.photo.attached? ? request.car.photo.key : "injcuuecln8fvf2vo2zg", width: 500, height: 350, crop: :fill, :cloud_name => "dir0nw4ok"%>
        <div class="card-product-infos">
          <h2><%= request.car.brand %></h2>
          <p><%= request.car.start_date %></p>
          <p><%= request.car.end_date %></p>
          <p><%= request.status %></p>
          <%= link_to "delete request", destroy_request_path(request), method: :delete, class: "btn btn-primary btn-lg" %>
        </div>
      </div>

<% end %>

<%= link_to "browse cars", cars_path(request), class: "btn btn-primary btn-lg" %>

</div>
</div>
</div>
