<div class="container">
  <div class="row">
    <div class="d-flex profile-container justify-content-center">
      <!-- user profile harcoded for now -->
      <div class="manage-cars ">
        <div class="d-flex justify-content-between">
          <%= link_to "List your own car", dashboard_owner_path(@user), class: "btn btn-primary" %>
          <%= link_to "Rent a car", cars_path(request), class: "btn btn-primary" %>
        </div>
        <h3>Your Rent Requests</h3>
        <% @requests.each do |request|%>
        <div class="card-product">
          <%= cl_image_tag request.car.photo.attached? ? request.car.photo.key : "injcuuecln8fvf2vo2zg", width: 500, height: 350, crop: :fill, :cloud_name => "dir0nw4ok"%>
          <div class="card-product-infos">
            <h4>Car: <%= request.car.brand %></h4>
            <p>Pickup date: <%= request.pick_up_date %></p>
            <p>Return date: <%= request.drop_off_date %></p>
            <p>Status: <%= request.status %></p>
            <%= link_to "Cancel request", destroy_request_path(request), method: :delete, class: "delete-btn btn btn-primary btn-sm" %>
          </div>
        </div>
        <% end %>
      </div>
      <div class="profile-card">
        <div>
          <h3>Personal Info</h3>
          <p><%= @user.first_name.capitalize %> <%=@user.last_name.capitalize %></p>
          <img class="avatar-large" alt="avatar" src="https://images.unsplash.com/photo-1565464027194-7957a2295fb7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=80" />
        </div>
        <div class="profile-content">
          <p>"I travel for business a couple times a month, and I appreciate the possibility to park my car at the airport hussle-free while making some money when I am away."</p>
          <p>Home Location: Amsterdam</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="">

    <div class="">
      <% if @requests.blank? %>
      <% " " %>
      <% else %>
      <% if @requests.count < 2%>
      <h4 class="text-center mb-4">Previous booking</h4>
      <% else %>
      <h4 class="text-center mb-4">Previous bookings</h4>
      <% end %>
      <% end %>
      <div class="request-cards">

      <% @requests.where("status = ? AND drop_off_date < ?", "accepted", Date.today ).each do |request|%>
      <div class="request-card d-flex ">
        <%= cl_image_tag request.car.photo.attached? ? request.car.photo.key : "injcuuecln8fvf2vo2zg", width: 500, height: 350, :cloud_name => "dir0nw4ok"%>
        <div class="request-card-info ">
          <h2>Car: <%= request.car.brand %></h2>
          <p>Pickup date: <%= request.pick_up_date %></p>
          <p>Return date: <%= request.drop_off_date %></p>
        </div>
          <div>
          <%= link_to "review", new_request_review_path(request),  class: "review-btn btn btn-primary btn-sm" %>
        </div>
      </div>
      <% end %>
      </div>
    </div>
  </div>

