<%= simple_form_for(@car) do |f| %>
          <div class="form-group">
          <%= f.input :brand %>
          <%= f.input :model %>
          <%= f.input :year, input_html: { min: '2019' } %>
          <%= f.input :price, input_html: { min: '0' } %>
          <%= f.input :number_of_seats, collection: 1..8 %>
          <%= f.input :registration_number %>
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :location %>
          <%= f.input :transmission, collection: ['automatic', 'manual'] %>
          <%= f.input :airconditioning %>
          <%= f.input :photo, as: :file %>
<!--           f.input :photo, as: :file -->
<!--           f.input :availability -->
          <%= f.button :submit, "List Your Car", {class: "btn btn-primary"} %>
          </div>
        <% end %>
