<h1>Cars List</h1>
<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>The car you choose. No counters, no queues, no hidden extras</h1>
      <h2>Hire cars from people like you</h2>
      <p>Seach Bar Below</p>
      <% @cars.each do |car| %>
        <p><%= car.brand %></p>
        <p><%= car.model %></p>
        <p><%= car.year %></p>
        <p><%= car.number_of_seats %></p>
        <p><%= car.registration_number %></p>
        <p><%= car.transmission %></p>
        <p><%= car.airconditioning %></p>
      <%= link_to "show car", car_path(car), class: "btn btn-primary btn-lg" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
