<div class="container">
  <div class="text-center mt-3">
    <h1>Cars List</h1>
    <h5>The car you choose. No counters, no queues, no hidden extras</h1>
      <h5>Rent cars from people like you</h2>

  <form>
    <div class="row col-10 offset-1 mt-4">
      <div class="col-3">
        <select class="form-control">
          <option value="" selected disabled>Select Location</option>
          <%=  @cars.map do |car| %>
          <option> <%= car.location  %> </option>
          <% end %>
        </select>
      </div>
      <div class="col-3">
        <input type="date" class="form-control" id="start_date",name='start_date'>
      </div>
      <div class="col-3">
        <input type="date" class="form-control" id="end_date",name='end_date'>
      </div>
      <div class="col-3">
        <button type="submit" class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>


</div>
<div class="container">
  <div class="car-grid">
    <% @cars.each do |car| %>
    <div class="index-car-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path car.photo.attached? ? car.photo.key : "injcuuecln8fvf2vo2zg", width: 400, height: 300, crop: :fill, :cloud_name => "dir0nw4ok"%>');">
      <h3><%= link_to "#{car.brand}", car_path(car.id) %></h3>
      <h4 class="price-card"> € <%= car.price %></h4>
      <i class="car-seats-logo"><%= image_tag "car.png" %>
        <%= car.number_of_seats %></i>
      </div>
      <% end %>
    </div>
  </div>
