<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Details of your car</h1>
        <p><%= @car.brand %></p>
        <p><%= @car.model %></p>
        <p><%= @car.year %></p>
        <p><%= @car.number_of_seats %></p>
        <p><%= @car.registration_number %></p>
        <p><%= @car.transmission %></p>
        <p><%= @car.airconditioning %></p>
        <%= link_to car_path(@car), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt"></i>
        <%= link_to "edit car", edit_car_path(@car), class: "btn btn-primary btn-lg" %>
        <%= link_to "request car", new_car_request_path(@car), class: "btn btn-primary btn-lg" %>
        <% end %>
    </div>
  </div>
</div>
