<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>Details of your car</h1>
        <p>Brand: <%= @car.brand %></p>
        <p>Model: <%= @car.model %></p>
        <p>Year: <%= @car.year %></p>
        <p>Number of seats: <%= @car.number_of_seats %></p>
        <p>Registration Number: <%= @car.registration_number %></p>
        <p>Transmission: <%= @car.transmission %></p>
        <p>Air Conditionning: <%= @car.airconditioning %></p>
        <%= cl_image_tag @car.photo.key, height: 300, width: 400, crop: :fill %> <br/>
        <%= link_to car_path(@car), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
<!--         cl_image_tag("injcuuecln8fvf2vo2zg", width: 400, height: 300, crop: :fill)
 -->
        <%= link_to "Update",  edit_car_path, {class: "btn btn-primary"} %>

    </div>
  </div>
</div>
